@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700&display=swap");

:root {
  --light-blue: #cbd8e8;
  --light-pink: #ebb2c3;
  --yellow: #f0d342;
  --brown: #704102;
  --light-gray: rgb(234, 234, 234);
  --black: #292826;
  --white: #ffffff;
  --dark-blue: #1e0f75;
  --box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}
.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: var(--light-gray);
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 5.5rem;
}

section {
  
  padding: 2rem 9%;
}
section:nth-child(even) {
  background-color: var(--light-gray);
}
section img {
  margin-right: 20rem;
}

header {
  height: 5rem;
  top: 0;
  padding: 1rem 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  z-index: 1;
  background-image: linear-gradient(to right, #434343 0%, black 100%);
}
.heading {
  text-align: center;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 6rem;
}

/* Phần icons - Đăng ký và Đăng nhập */
.icons {
  display: flex;
  align-items: center;
}
header .icons a.signup-btn,
header .icons a.login-btn {
  display: inline-block;
  font-size: 1.6rem;
  cursor: pointer;
  padding: 0.8rem 2.5rem;
  text-decoration: none;
  margin-left: 1rem;
  width: 12rem;
  line-height: 2.5rem;
  text-align: center;
  border-radius: 1rem;
  color: var(--white);
}
header .icons a.login-btn {
  width: 15rem;
}
header .icons a.signup-btn:hover,
header .icons a.login-btn:hover {
  background-color: var(--white);
  color: var(--black);
  letter-spacing: 0.1rem;
}
header .icons a {
  cursor: pointer;
  margin-left: 0.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  width: 4.5rem;
  text-align: center;
  font-size: 1.7rem;
  color: var(--white);
}

/* logo */
header .logo {
  color: var(--white);
  font-size: 4.5rem;
  font-weight: bolder;
}
header .logo i {
  color: var(--white);
}

/* navbar */
header .navbar a {
  font-size: 1.7rem;
  border-radius: 0.5rem;
  padding: 1rem 1.5rem;
  border-radius: 10px;
  color: var(--white);
}
header .navbar a:hover {
  color: var(--black);
  background: var(--white);
  letter-spacing: 0.1rem;
}
/* ===================================================== */
.home {
  padding: 0;
  margin-top: 2rem;
  margin-bottom: 6rem; /* Khoảng cách từ header đến slideshow */
}

.fullscreen-slideshow {
  position: relative;
  width: 99.9%; /* Giảm kích thước slideshow so với full màn hình */
  height: 90vh; /* Giảm chiều cao so với full màn hình */
  overflow: hidden;
  border-radius: 20px; /* Thêm border-radius cho slideshow */
  margin: 0 auto; /* Căn giữa slideshow */
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0;
  animation: slideshow 25s infinite linear;
  display: block;
  text-decoration: none;
  border-radius: 20px;
}

.slide:nth-child(1) {
  animation-delay: 0s;
}

.slide:nth-child(2) {
  animation-delay: 5s;
}

.slide:nth-child(3) {
  animation-delay: 10s;
}

.slide:nth-child(4) {
  animation-delay: 15s;
}

.slide:nth-child(5) {
  animation-delay: 20s;
}

.slide:nth-child(6) {
  animation-delay: 25s;
}

@keyframes slideshow {
  0% {
    opacity: 0;
  }
  12.5% {
    opacity: 1;
  }
  37.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

/* popular */
.popular {
  padding: 0;
}

.list_card {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 230px;
  height: 350px;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  margin-left: 5rem;
  margin-bottom: 3rem;
}

.card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.card-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(195, 193, 193, 0.8);
  padding: 16px;
  transform: translateY(100%);
  transition: transform 0.3s ease;
}

.card-info h4 {
  font-size: 1.5em;
  font-style: italic;
  margin-top: 0;
  margin-bottom: 1rem;
}

.card-info p {
  font-size: small;
  margin-bottom: 16px;
}

.card-info .btn_item {
  display: inline-block;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  color: var(--white);
  text-decoration: none;
  padding: 8px 16px;
  border-radius: 4px;
}
.card-info .btn_item:hover {
  letter-spacing: 0.1rem;
}
.card:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.card:hover img {
  transform: scale(1.2);
}

.card:hover .card-info {
  transform: translateY(0);
}

/* category */
.category {
  padding: 5rem 0;
}

.category .heading h1 {
  font-size: 1.7rem;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
}

.category .title-tutien {
  font-size: 3.5rem;
  font-style: italic;
  font-weight: bold;
  background-image: linear-gradient(to right, #0f0c29, #302b63, #24243e);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.category .tutien {
  margin-left: 7rem;
  width: 18rem;
  position: relative;
}
.category .title-tutien::after {
  content: "";
  position: absolute;
  background-color: rgb(79, 79, 79);

  width: 80%;
  bottom: -1rem;
  left: 0;
  height: 0.5rem;
}

.category .list_card {
  margin: 5rem 0;
}
/* Footer */
footer .copyright {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
footer .copyright .logo {
  color: var(--red);
  font-size: 2rem;
  font-weight: bolder;
}
footer .copyright p {
  font-size: 0.9rem;
  color: var(--red);
  font-size: 2rem;
}

/* footer */
footer {
  background-image: linear-gradient(to right, #434343 0%, black 100%);
  color: white;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 1rem 2rem;
  }
  section {
    padding: 2rem;
  }
  .signup-btn,
  .login-btn {
    font-size: 1.5rem;
    padding: 0.7rem 2rem;
  }
}

@media (max-width: 768px) {
  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--black);
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    padding: 1rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  header .navbar a {
    display: block;
    padding: 1.5rem;
    margin: 1rem;
    font-size: 2rem;
    background: var(--black);
  }
  .home .box .content h3 {
    font-size: 5rem;
  }
  .signup-btn,
  .login-btn {
    display: block;
    font-size: 2rem;
    padding: 1.2rem 3rem;
    margin: 1rem auto;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .signup-btn,
  .login-btn {
    font-size: 1.8rem;
    padding: 1rem 2.5rem;
  }
}
